.div_menu {
    background-color: black;
}

.div_menu a.menu {
    color: white;
}

.slider-div {
    text-align: center;
    margin: 10px auto;
}

p {
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

